body{
    background-color: #f9f7fe;
    font-family: sans-serif;
}



h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    color: powderblue;
}

h2{
    margin: 0 0 5px;
    font-size: 36px;
}


a{
    text-decoration: none;
    color: powderblue;
    font-weight: bold;
}

button{
    background-color: powderblue;
    color: white;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius:10px ;
}


strong{
    color: powderblue;
}

footer{
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.time small{
    font-size: medium;
    vertical-align: middle;
}

.container{
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; 
    border-radius: 10px;
}


select{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
}

.city{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}

.time{
    font-size: 48px;
    font-weight: bold;
}

.date{
    opacity: 0.6;
}

.city:last-child{
    border: none;
}

.connect{
    color: white;
}